
# File folders
input/images/*
!input/images/.gitkeep
input/labels/*
!input/labels/.gitkeep

data/test/*
!data/test/.gitkeep
data/val/*
!data/val/.gitkeep
data/train/*
!data/train/.gitkeep

output/*
!output/.gitkeep

# Python
__pycache__/

# Virtual environments
venv/
env/
ENV/
.venv