
# File folders
input/images/*
!input/images/.gitkeep
input/labels/*
!input/labels/.gitkeep

data/train/images/*
!data/train/images/.gitkeep
data/train/labels/*
!data/train/labels/.gitkeep
data/val/images/*
!data/val/images/.gitkeep
data/val/labels/*
!data/val/labels/.gitkeep

output/*
!output/.gitkeep

# Python
__pycache__/

# Virtual environments
venv/
env/
ENV/
.venv